<?xml version="1.0" ?>
<config>
    <modules>
        <Baraniuk_Shares>
            <version>0.0.3</version>
        </Baraniuk_Shares>
    </modules>
    <frontend>
        <routers>
            <baraniuk_shares>
                <use>standard</use>
                <args>
                    <module>Baraniuk_Shares</module>
                    <frontName>baraniuk_shares</frontName>
                </args>
            </baraniuk_shares>
        </routers>
        <layout>
            <updates>
                <baraniuk_shares module="shares">
                    <file>Baraniuk_Shares.xml</file>
                </baraniuk_shares>
            </updates>
        </layout>
        <events>
            <page_block_html_topmenu_gethtml_before>
                <observers>
                    <baraniuk_shares>
                        <type>model</type>
                        <method>insertToMenu</method>
                        <class>Baraniuk_Shares_Model_Observer</class>
                    </baraniuk_shares>
                </observers>
            </page_block_html_topmenu_gethtml_before>
            <catalog_controller_product_view>
                <observers>
                    <baraniuk_shares>
                        <type>model</type>
                        <method>addShare</method>
                        <class>Baraniuk_Shares_Model_Observer</class>
                    </baraniuk_shares>
                </observers>
            </catalog_controller_product_view>
        </events>
    </frontend>

    <admin>
        <routers>
            <adminhtml>
                <use>admin</use>
                <args>
                    <modules>
                        <baraniuk_shares after="Mage_Adminhtml">Baraniuk_Shares_Adminhtml</baraniuk_shares>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>

    <adminhtml>
        <layout>
            <updates>
                <baraniuk_shares>
                    <file>baraniuk_shares.xml</file>
                </baraniuk_shares>
            </updates>
        </layout>
    </adminhtml>

    <global>
        <blocks>
            <baraniuk_shares>
                <class>Baraniuk_Shares_Block</class>
            </baraniuk_shares>
        </blocks>
        <models>
            <baraniuk_shares>
                <class>Baraniuk_Shares_Model</class>
                <resourceModel>shares_resource</resourceModel>
            </baraniuk_shares>
            <shares_resource>
                <class>Baraniuk_Shares_Model_Resource</class>
                <entities>
                    <block>
                        <table>baraniuk_shares</table>
                    </block>
                    <products>
                        <table>baraniuk_shares_products</table>
                    </products>
                </entities>
            </shares_resource>
        </models>
        <resources>
            <baraniuk_shares_setup>
                <setup>
                    <module>Baraniuk_Shares</module>
                </setup>
            </baraniuk_shares_setup>
        </resources>
        <helpers>
            <baraniuk_shares>
                <class>Baraniuk_Shares_Helper</class>
            </baraniuk_shares>
        </helpers>
    </global>
    <crontab>
        <jobs>
            <baraniuk_shares_update_status>
                <schedule>
                    <cron_expr>*/5 * * * * </cron_expr>
                </schedule>
                <run>
                    <model>baraniuk_shares/cron::baraniuk_shares_update_status</model>
                </run>
            </baraniuk_shares_update_status>
        </jobs>
    </crontab>
</config>